@charset "utf-8";

//===========================================================
//    グラデーション
//===========================================================

@mixin gradation{
    background: rgb(0,71,156);
    background: linear-gradient(90deg, rgba(0,71,156,1) 0%, rgba(0,113,156,1) 100%);
}


//===========================================================
//    文字サイズ
//===========================================================

@mixin font-size($fontsize) {
    font-size: ($fontsize / 10) + rem;
}


//===========================================================
//    余白付きwidth
//===========================================================

@mixin margin-width($width,$margin) {
    max-width: $width;
    margin-right: auto;
    margin-left: auto;

    @include max-screen($width + ($margin * 2)) {
        margin-right: $margin;
        margin-left: $margin;
    }
}


//===========================================================
//    メディアクエリ
//===========================================================
@mixin max-screen($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-screen($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin screen($min-width,$max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}


//===========================================================
//    余白付きボックス
//===========================================================

@mixin inner {
	@media screen and (max-width: 1500px){
		padding-left: 3vw;
		padding-right: 3vw;
	}
    @media screen and (max-width: 767px){
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
