@charset "utf-8";

@use "variable" as var;
@use "basic/mixin";

/*==================================================================================================
	フッター
==================================================================================================*/

.foot-banner{
	padding: clamp(3em,10vw,5em) 0;
	border-bottom: var.$text 1px solid;
	.banner-list{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5em 3%;
		li{
			width: calc(94% / 3);
			max-width: 400px;
			a{
				display: block;
				width: 100%;
				line-height: 0;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	@include mixin.max-screen(var.$screen-md) {
		.banner-list{
			li{
				width: calc(94% / 2);
			}
		}
	}
	@include mixin.max-screen(var.$screen-xs) {
		.banner-list{
			li{
				width: 100%
			}
		}
	}
}

.foot-information{
	padding: clamp(3em,10vw,5em) 0;
	.inner{
		display: flex;
		gap: clamp(3em,5vw,5em);
	}
	&__left{
		flex: 1;
		.map{
			position: relative;
			width: 100%;
			padding-top: 56.25%;
			height: 0;
			margin-bottom: 2em;
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.logo{
			margin-bottom: 1em;
		}
		p{
			line-height: 1.6;
		}
		.btnWtap{
			margin-top: 1.5em;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1em;
			.btn{
				background: var.$text;
				color: #FFF;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.3em;
				padding: 1em 1.5em;
				line-height: 1;
				border-radius: 4em;
				font-family: var.$en-font;
				font-size: 140%;
				min-width: 14em;
				img{
					filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(113%) contrast(101%);
				}
				&:hover{
          background: lighten(var.$text, 10%);
        }
			}
		}
	}
	&__right{
		flex: 1;
		.banner-list{
			display: flex;
			flex-direction: column;
			gap: 2em;
			a{
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	@include mixin.max-screen(var.$screen-md) {
		.inner{
			flex-direction: column;
		}
		&__left{
			.logo{
				text-align: center;
				img{
					max-width: 440px;
					width: 100%;
				}
			}
			p{
				text-align: center;
			}
			.btnWtap{
				align-items: center;
				.btn{
					font-size: 120%;
				}
			}
		}
		&__right{
			padding: 0 0.5em;
		}
	}
}

.footer{
	background: var.$text;
	padding: clamp(3em,10vw,5em) 0 clamp(6em,10vw,10em);
	color: #FFF;
	position: relative;
	overflow: hidden;
	.footerMenu{
		display: flex;
		gap: 2em;
		.footerMenuList{
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 2em;
			&:first-child{
				flex: 1.3;
			}
			a{
				color: #fff;
				text-decoration: none;
				line-height: 1.2;
				display: block;
				&:hover{
					opacity: 0.8;
				}
			}
			& > li{
				& > a{
					font-size: clamp(100%,3vw,110%);
					line-height: 1.4;
					position: relative;
					padding-left: 0.8em;
					display: block;
					&:before{
						content: "●";
						font-size: 50%;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&.ttl-illustration{
					& > a{
						&:before{
							color: var.$illustration;
						}
					}
				}
				&.ttl-beauty{
					& > a{
						&:before{
							color: var.$beauty;
						}
					}
				}
				&.ttl-hair{
					& > a{
						&:before{
							color: var.$hair;
						}
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				padding-left: 1em;
				margin-top: 1.2em;
				display: flex;
				flex-direction: column;
				gap: 1em;
				li{
					a{
						font-size: 90%;
						color: #cccccc;
					}
				}
			}
		}
	}
	@include mixin.max-screen(var.$screen-md) {
		.footerMenu{
			flex-direction: column;
		}
	}
	.copy{
		font-family: var.$num-font;
		position: absolute;
		left: 50%;
		bottom: -0.2em;
		transform: translateY(0) translateX(-50%);
		line-height: 1;
		color: #FFF;
		opacity: 0.07;
		white-space: nowrap;
		letter-spacing: 0.05em;
		font-size: clamp(3.2rem,5.3vw,100px);
		text-align: center;
		@include mixin.max-screen(var.$screen-md) {
			font-size: clamp(3.2rem,9.3vw,100px);
		}
	}
}