@charset "utf-8";

@use 'variable' as var;
@use 'basic/mixin';

/*==================================================================================================
	ブライダル・トータルビューティー
==================================================================================================*/

.-beauty {
	background: #FFF2F2;
	color: var.$brown-text;

	.gradation-marker{
		font-weight: bold;
		background-image: linear-gradient(90deg, #99D9F0, #EC9BB0,#FAC9AB);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 100% 15%;
	}

	.btnArea{
		text-align: center;
		.basicBtn{
			display: inline-block;
			max-width: 100%;
			padding: 1.4em 5.4em 1.4em 3em;
		}
	}

	.beauty-label{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.7em;
		margin-bottom: 1.5em;
		.en{
			font-family: var.$serif-font;
			font-size: clamp(1.6rem,5vw,3.2rem);
			z-index: 1;
			position: relative;
			line-height: 1;
			.gradation{
				font-family: var.$serif-font;
				color: #FFF;
				line-height: 1;
				display: inline-block;
				white-space: nowrap;
				background: linear-gradient(
					99deg,
					rgba(153, 217, 240, 1) 1%,
					rgba(236, 155, 176, 1) 50%,
					rgba(250, 201, 171, 1) 100%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: 2px transparent;
			}
			.main{
				color: #FFF;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateY(-50%) translateX(-50%);
				display: inline-block;
				white-space: nowrap;
				line-height: 4;
			}
		}
		.jp{
			font-family: var.$serif-font2;
			color: #FFF;
			line-height: 1.2;
			font-size: clamp(2rem,7.5vw,4.6rem);
			text-shadow: 0px 0px 10px #E24F75 , 0px 0px 10px #E24F75;
			text-align: center;
			.small{
				font-size: 70%;
				display: block;
				line-height: 1.4;
			}
			.num{
				font-size: 135%;
			}
			&.-serif2{
				font-family: var.$serif-font;
			}
		}
	}

	.beautyPageLabel{
		background: url("../img/beauty/page-bg.webp") no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		padding-top: 8em;
		padding-left: 3vw;
		padding-right: 3vw;
		padding-bottom: 3vw;
		@include mixin.max-screen(var.$screen-md) {
			padding-left: 5vw;
			padding-right: 5vw;
			padding-bottom: 5vw;
		}
		@include mixin.max-screen(var.$screen-sm) {
			padding-top: clamp(5em,24vw,6.5em);
		}
		&__main{
			color: #FFF;
			padding: clamp(0em,3vw,4em) 0 clamp(2em,7vw,5em);
			position: relative;
			z-index: 2;
			padding-right: 20%;
			p{
				font-size: clamp(1.2rem,3.5vw,2rem);
				font-weight: bold;
				text-shadow: 0px 0px 10px #E24F75;
				line-height: 1.6;
				margin-bottom: 0.5em;
			}
			.ttl{
				font-size: clamp(2rem,6.5vw,6rem);
				text-shadow: 0px 0px 10px #E24F75;
				line-height: 1.4;
				font-weight: bold;
				span{
					font-size: clamp(1.2rem,2vw,2rem);
					margin-left: 0.5em;
				}
			}
			.tagList{
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;
				margin-top: 1.5em;
				li{
					color: var.$beauty2;
					background: #FFF;
					font-size: clamp(1.2rem,2vw,2rem);
					font-weight: bold;
					line-height: 1;
					padding: 0.6em 1em;
					border-radius: 2em;
				}
			}
		}
		&__img{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 45%;
			height: 100%;
			z-index: 1;
			max-width: 600px;
			img{
				object-fit: cover;
				object-position: left 10%;
				height: 100%;
				width: 100%;
			}
			@include mixin.max-screen(var.$screen-sm) {
				width: 50%;
				padding-top: 4em;
			}
		}
		.open-campus{
			position: absolute;
			right: 1em;
			bottom: 1em;
			width: clamp(90px,10vw,200px);
			z-index: 2;
			&:hover{
				opacity: 0.8;
			}
		}
		.en-text{
			position: absolute;
			left: -0.2em;
			bottom: -0.2em;
			color: #FFF;
			font-family: var.$serif-font;
			font-weight: 500;
			font-size: 7vw;
			white-space: nowrap;
			line-height: 1;
			opacity: 0.6;
		}
	}

	.sec-intro{
		.ttl{
			font-family: var.$serif-font2;
			color: #FFF;
			line-height: 1.6;
			font-size: clamp(2rem,7vw,5rem);
			text-shadow: 0px 0px 10px #E24F75 , 0px 0px 10px #E24F75;
			margin-bottom: 0.5em;
			span{
				font-size: 70%;
				display: block;
			}
		}
		p{
			color: var.$brown-text;
		}
		.bigText{
			@include mixin.max-screen(var.$screen-sm) {
				font-size: 100%;
			}
		}
	}

	.sec-sns{
		padding: 3em 0;
		background: url("../img/beauty/page-bg.webp") no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		&:before{
			content: "";
			width: 100%;
			height: 20%;
			background: #FFF2F2;
			background: linear-gradient(180deg,rgba(255, 242, 242, 1) 1%, rgba(255, 242, 242, 0) 100%);
			position: absolute;
			left: 0;
			top: 0;
		}
		&:after{
			content: "";
			width: 100%;
			height: 20%;
			background: #FFF2F2;
			background: linear-gradient(0deg,rgba(255, 242, 242, 1) 1%, rgba(255, 242, 242, 0) 100%);
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.inner{
			position: relative;
			z-index: 1;
		}
		.insta-list{
			display: flex;
			gap: 0.8em;
			li{
				flex: 1;
				a{
					&:hover{
						opacity: 0.8;
					}
				}
			}
			@include mixin.max-screen(var.$screen-sm) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 0.6em 2%;
				li{
					flex: none;
					width: 32%;
				}
			}
		}
		.insta-link{
			text-align: right;
			margin-top: 1.5em;
			a{
				color: var.$brown-text;
				text-decoration: none;
				display: inline-block;
				margin-left: auto;
				padding-left: 2em;
				position: relative;
				line-height: 1.5;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					content: "";
					width: 1.5em;
					height: 1.5em;
					background: url("../img/beauty/insta-icon.svg") no-repeat;
					background-position: center;
					background-size: contain;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -0.75em;
				}
			}
			@include mixin.max-screen(var.$screen-sm) {
				text-align: center;
			}
		}
	}

	.sec-curriculum{
		.beauty-frame{
			padding: clamp(1em,10vw,4em) clamp(1em,5vw,3em);
			position: relative;
			&:before{
				content: "";
				background: #FFF;
				width: calc(100% - 6em);
				height: 100%;
				border-radius: 2em;
				position: absolute;
				left: 3em;
				top: 0;
			}
			&:after{
				content: "";
				background: #FFF;
				width: 100%;
				height: calc(100% - 6em);
				border-radius: 2em;
				position: absolute;
				left: 0;
				top: 3em;
			}
			& > *{
				position: relative;
				z-index: 1;
			}
			@include mixin.max-screen(var.$screen-sm) {
				&:before{
					width: calc(100% - 12vw);
					left: 6vw;
					border-radius: 6vw;
				}
				&:after{
					height: calc(100% - 12vw);
					top: 6vw;
					border-radius: 6vw;
				}
			}
		}
		.curriculum-wrap{
			margin-top: 2em;
			display: flex;
			align-items: center;
			gap: 2em;
			.thumb{
				flex: 1;
			}
			.text-wrap{
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 1em;
				&__item{
					border: #ED9FB0 2px solid;
					border-radius: 1em;
					padding: clamp(1em,2vw,2em);
					display: flex;
					align-items: center;
					gap: 1em;
					.ttl{
						width: 4em;
						height: 4em;
						border-radius: 5em;
						display: flex;
						align-items: center;
						justify-content: center;
						color: var.$beauty2;
						font-family: var.$serif-font2;
						box-shadow: 0px 0px 10px var.$beauty2;
						font-size: 110%;
					}
					.text{
						flex: 1;
						p{
							font-size: 110%;
							line-height: 1.4;
						}
					}
					.tagList{
						display: flex;
						flex-wrap: wrap;
						gap: 0.5em;
						margin-top: 1em;
						li{
							border-radius: 2em;
							background: var.$beauty;
							color: #FFF;
							line-height: 1;
							padding: 0.4em 1em;
							font-size: 90%;
						}
					}
				}
			}
			@include mixin.max-screen(var.$screen-lg) {
				flex-direction: column;
				.thumb{
					max-width: 500px;
					width: 100%;
					margin: 0 auto;
				}
			}
		}
	}

	.sec-course{
		.basicBtn{
			&.-pink{
				min-width: 20em;
				text-align: center;
			}
		}
    .course-list{
      margin-top: 2em;
      display: flex;
      gap: clamp(1em,2vw,2em);
      &__item{
        flex: 1;
				padding: clamp(1em,2vw,2em);
				position: relative;
				&:before{
					content: "";
					background: #FFF;
					width: calc(100% - 3em);
					height: 100%;
					border-radius: 1em;
					position: absolute;
					left: 1.5em;
					top: 0;
				}
				&:after{
					content: "";
					background: #FFF;
					width: 100%;
					height: calc(100% - 3em);
					border-radius: 1em;
					position: absolute;
					left: 0;
					top: 1.5em;
				}
				& > *{
					position: relative;
					z-index: 1;
				}
				@include mixin.max-screen(var.$screen-sm) {
					&:before{
						width: calc(100% - 12vw);
						left: 6vw;
						border-radius: 6vw;
					}
					&:after{
						height: calc(100% - 12vw);
						top: 6vw;
						border-radius: 6vw;
					}
				}
				& > .ttl{
					background: var.$beauty;
					color: #FFF;
					font-family: var.$serif-font2;
					font-size: 120%;
					line-height: 1.5;
					padding: 0.5em 1em;
					position: relative;
					box-sizing: border-box;
					display: block;
					text-align: center;
					width: 96%;
					margin: 0 2% -0.6em;
					z-index: 2;
					&:before{
						position: absolute;
						content: '';
						width: 0px;
						height: 0px;
						z-index: 1;
						top: 0;
						left: 0;
						border-width: 1.3em 0px 1.3em 0.8em;
						border-color: transparent transparent transparent #fff;
						border-style: solid;
					}
					&:after{
						position: absolute;
						content: '';
						width: 0px;
						height: 0px;
						z-index: 1;
						top: 0;
						right: 0;
						border-width: 1.3em 0.8em 1.3em 0px;
						border-color: transparent #fff transparent transparent;
						border-style: solid;
					}
				}
				.thumb{
					margin-bottom: 1.2em;
				}
				.pink{
					color: var.$beauty;
					text-align: center;
					line-height: 1.6;
					font-family: var.$serif-font2;
					font-size: 120%;
					font-weight: bold;
					margin-bottom: 0.5em;
				}
				.job-wrap{
					margin-top: 1em;
					background: rgba(var.$beauty2 ,0.1);
					padding: clamp(1em,5vw,1.5em);
					border-radius: 0.5em;
					.ttl{
						font-size: 106%;
						font-weight: bold;
						line-height: 1.5;
						margin-bottom: 0.6em;
					}
					.job-list{
						display: flex;
						flex-direction: column;
						gap: 0.5em;
						li{
							line-height: 1.4;
							font-size: 94%;
							display: block;
							padding-left: 1em;
							position: relative;
							&:before{
								content: "";
								width: 1em;
								height: 1em;
								position: absolute;
								left: 0;
								top: 50%;
								margin-top: -0.5em;
								background: url(../img/beauty/icon-kirakira.svg) no-repeat;
								background-position: center;
								background-size: contain;
							}
						}
					}
				}
      }
			@include mixin.max-screen(var.$screen-lg) {
				flex-direction: column;
				gap: clamp(1em,5vw,2em);
				&__item{
					padding: clamp(1em,5vw,2em) clamp(1em,5vw,2em) clamp(1em,8vw,3em);
					& > .ttl{
						max-width: 20em;
						margin-left: auto;
						margin-right: auto;
					}
					.thumb{
						max-width: 500px;
						width: 100%;
						margin: 0 auto 1.5em;
					}
					& > p{
						text-align: center;
					}
				}
			}
			@include mixin.max-screen(var.$screen-xs) {
				&__item{
					.pink{
						br{
							display: none;
						}
					}
					& > p{
						text-align: left;
					}
				}
			}
    }
  }

	.sec-work{
		background: url("../img/beauty/work-bg.webp") no-repeat;
		background-position: center;
		background-size: cover;
		.big-text{
			font-size: 120%;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.slider-list{
			margin-top: 2.5em;
			.slick-list{
				overflow:visible;
			}
			.slick-slide{
				padding: 0 0.6em;
			}
		}
	}

	.sec-info{
		.inner{
			display: flex;
			gap: 1em;
		}
		.beauty-frame{
			flex: 1;
			&:before{
				content: "";
				background: #99D9F0;
				background: linear-gradient(99deg,rgba(153, 217, 240, 1) 1%, rgba(236, 155, 176, 1) 50%, rgba(250, 201, 171, 1) 100%);
				width: 88%;
				height: 100%;
				border-radius: 2em;
				position: absolute;
				left: 6%;
				top: 0;
			}
			&:after{
				content: "";
				background: #99D9F0;
				background: linear-gradient(99deg,rgba(153, 217, 240, 1) 1%, rgba(236, 155, 176, 1) 50%, rgba(250, 201, 171, 1) 100%);
				width: 100%;
				height: 88%;
				border-radius: 2em;
				position: absolute;
				left: 0;
				top: 6%;
			}
			&__inner{
				padding: clamp(1em,10vw,4em) clamp(1em,5vw,3em);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				height: 100%;
				&:before{
					content: "";
					background: #FFF;
					width: calc(88% - 4px);
					height: calc(100% - 4px);
					border-radius: 1.8em;
					position: absolute;
					left: calc(6% + 2px);
					top: 2px;
					z-index: 1;
				}
				&:after{
					content: "";
					background: #FFF;
					width: calc(100% - 4px);
					height: calc(88% - 4px);
					border-radius: 1.8em;
					position: absolute;
					left: 2px;
					top: calc(6% + 2px);
					z-index: 1;
				}
				& > *{
					position: relative;
					z-index: 2;
				}
			}
		}
		@include mixin.max-screen(var.$screen-lg) {
			.inner{
				flex-direction: column;
			}
			.beauty-frame{
				max-width: 680px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

}


