@charset "utf-8";

//------------------------------------------------------------
//    【必須】サイト設定 - 変数
//------------------------------------------------------------

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Bebas+Neue&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Montserrat:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic:wght@500;700&family=M+PLUS+1:wght@100..900&family=Teko:wght@300..700&display=swap');

//■フォント
$default-font: 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
$maru-font: "Zen Maru Gothic", 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
$label-font: 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
$en-font: "Montserrat", sans-serif;
$num-font: "Bebas Neue", "Montserrat", sans-serif;
$serif-font: "Cormorant Infant", serif;
$serif-font2: "BIZ UDMincho", serif;

$mplus-font: "M PLUS 1", sans-serif;
$teko-font: "Teko", sans-serif;

//■アニメーション

$default-transition: true;
$default-transition-duration: 0.5s;

//■マウスオーバー時のリンク画像の透過

$default-img-hover: false;
$default-img-hover-opacity: 0.8;

//------------------------------------------------------------
//    【カスタム】変数
//------------------------------------------------------------

//■サイト幅
$width-site: 1080px;

//■ブレイクポイント
$screen-xl: 1240px;
$screen-lm: 1160px;
$screen-lg: 1080px;
$screen-tb: 860px;
$screen-md: 767px;
$screen-sm: 560px;
$screen-xs: 480px;
$screen-wpTb: 781px;
$screen-wpSp: 524px;

$base: #f4f4f4;
$text: #172222;
$line: #cccccc;
$gray: #f6f6f6;
$navy: #123340;
$brown-text: #956671;

$yellow: #ffff00;

$illustration: #ea553a;

$beauty: #f59ac9;
$beauty2: #EF6589;

$hair: #71bce9;

$blue: #71bce9;